:root {
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  
  --bs-colorectal: #1b295c;
  --bs-gastroesophageal: #9999e1;
  --bs-hcc: #54d17e;
  --bs-pancreas: #ad7bac;
  --bs-btc: #06936e;
  --bs-net: #4a4a4a;
}

.selectedCategory{ background-color: rgba(255, 255, 255, 0.3) !important;}

.bg-colorectal { background-color: var(--bs-colorectal) !important; }
.bg-gastroesophageal { background-color: var(--bs-gastroesophageal) !important; }
.bg-hcc { background-color: var(--bs-hcc) !important; }
.bg-pancreas { background-color: var(--bs-pancreas) !important; }
.bg-btc { background-color: var(--bs-btc) !important; }
.bg-net { background-color: var(--bs-net) !important; }

.bg-gray-100 { background-color: var(--bs-gray-100) !important; }
.bg-gray-200 { background-color: var(--bs-gray-200) !important; }
.bg-gray-300 { background-color: var(--bs-gray-300) !important; }
.bg-gray-400 { background-color: var(--bs-gray-400) !important; }
.bg-gray-500 { background-color: var(--bs-gray-500) !important; }
.bg-gray-600 { background-color: var(--bs-gray-600) !important; }
.bg-gray-700 { background-color: var(--bs-gray-700) !important; }
.bg-gray-800 { background-color: var(--bs-gray-800) !important; }
.bg-gray-900 { background-color: var(--bs-gray-900) !important; }

.text-gray-100 { color: var(--bs-gray-100) !important; }
.text-gray-200 { color: var(--bs-gray-200) !important; }
.text-gray-300 { color: var(--bs-gray-300) !important; }
.text-gray-400 { color: var(--bs-gray-400) !important; }
.text-gray-500 { color: var(--bs-gray-500) !important; }
.text-gray-600 { color: var(--bs-gray-600) !important; }
.text-gray-700 { color: var(--bs-gray-700) !important; }
.text-gray-800 { color: var(--bs-gray-800) !important; }
.text-gray-900 { color: var(--bs-gray-900) !important; }

.btn-outline-hcc {
  color: var(--bs-hcc) !important;
  border: 1px solid #6f42c1;
  background-color: transparent;
}

.topText
{
  background: linear-gradient(to right, #45616b, #648688);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
 
}
body {
  
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

@media (max-width: 768px) {
  #trialName {
    scroll-margin-top: 200px;
  }

  #scroll-spacer {
    display: block;
    height: 500px;
  }
}

@media (min-width: 769px) {
  #trialName {
    scroll-margin-top: 200px;
  }
  
  #scroll-spacer {
    display: none;
  }
}

.scrollarea {
  overflow-y: auto;
}

.flipNav{
perspective: 1000px;  
}

.flipNavInner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.25s;
  transform-style: preserve-3d;
}

.flipNavInner.active{
  transform: rotateY(180deg);
}

.flipNavFront, .flipNavBack {
  
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.flipNavBack{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

[data-bs-theme="ge"] {
  --bs-body-color: var(--bs-gray-900);
  --bs-body-bg: var(--bs-gastroesophageal);
  width: 100%;

  .btn-outline-custom {
    --bs-btn-bg: color-mix(in srgb, var(--bs-gastroesophageal) 20%, var(--bs-gray-100) 80%);
    --bs-btn-border-color: #{rgba($white, .25)};
    width: 100%;
  }

  .btn-check:checked + .btn{
    background-color: color-mix(in srgb, var(--bs-gastroesophageal) 70%, var(--bs-gray-500) 30%) !important;
    font-weight: 500;
  }

  .detailsSection01{
    background-color: color(srgb 0.767647 0.769412 0.926471);
    font-weight: 500;
  }
  .detailsSection02{
    background-color: color(srgb 0.721765 0.728824 0.891176);
    font-weight: 500;    
  }
  .detailsSection03{
    background-color: color(srgb 0.635294 0.649412 0.818824);
    font-weight: 500;    
  }
  .detailsSection04{
    background-color: color(srgb 0.520588 0.536471 0.705882);
    font-weight: 500;    
  }
}

[data-bs-theme="hcc"] {
  --bs-body-color: var(--bs-gray-900);
  --bs-body-bg: var(--bs-hcc);
  width: 100%;

  .btn-outline-custom {
    --bs-btn-bg: color-mix(in srgb, var(--bs-hcc) 20%, var(--bs-gray-100) 80%);
    --bs-btn-border-color: #{rgba($white, .25)};
    width: 100%;
  }

  .btn-check:checked + .btn{
    background-color: color-mix(in srgb, var(--bs-hcc) 70%, var(--bs-gray-500) 30%) !important;
    font-weight: 500;
  }
  .detailsSection01{
    background-color: color(srgb 0.618824 0.890196 0.712941);
    font-weight: 500;
  }
  .detailsSection02{
    background-color: color(srgb 0.572941 0.849608 0.677647);
    font-weight: 500;    
  }
  .detailsSection03{
    background-color: color(srgb 0.486471 0.770196 0.605294);
    font-weight: 500;    
  }
  .detailsSection04{
    background-color: color(srgb 0.371765 0.657255 0.492353);
    font-weight: 500;    
  }
}

[data-bs-theme="pdac"] {
  --bs-body-color: var(--bs-gray-900);
  --bs-body-bg: var(--bs-pancreas);
  width: 100%;

  .btn-outline-custom {
    --bs-btn-bg: color-mix(in srgb, var(--bs-pancreas) 20%, var(--bs-gray-100) 80%);
    --bs-btn-border-color: #{rgba($white, .25)};
    width: 100%;
  }

  .btn-check:checked + .btn{
    background-color: color-mix(in srgb, var(--bs-pancreas) 70%, var(--bs-gray-500) 30%) !important;
    font-weight: 500;
  }
  .detailsSection01{
    background-color: color(srgb 0.810784 0.704706 0.812157);
    font-weight: 500;
  }
  .detailsSection02{
    background-color: color(srgb 0.764902 0.664118 0.776863);
    font-weight: 500;    
  }
  .detailsSection03{
    background-color: color(srgb 0.678431 0.584706 0.70451);
    font-weight: 500;    
  }
  .detailsSection04{
    background-color: color(srgb 0.563726 0.471765 0.591569);
    font-weight: 500;    
  }
}

[data-bs-theme="cca"] {

  --bs-body-color: var(--bs-gray-900);
  --bs-body-bg: var(--bs-btc);
  width: 100%;

  .btn-outline-custom {
    --bs-btn-bg: color-mix(in srgb, var(--bs-btc) 20%, var(--bs-gray-100) 80%);
    --bs-btn-border-color: #{rgba($white, .25)};
    width: 100%;
  }

  .btn-check:checked + .btn{
    background-color: color-mix(in srgb, var(--bs-btc) 70%, var(--bs-gray-500) 30%) !important;
    font-weight: 500;
  }
  .detailsSection01{
    background-color: color(srgb 0.450588 0.756471 0.678431);
    font-weight: 500;
  }
  .detailsSection02{
    background-color: color(srgb 0.404706 0.715882 0.643137);
    font-weight: 500;    
  }
  .detailsSection03{
    background-color: color(srgb 0.318235 0.636471 0.570784);
    font-weight: 500;    
  }
  .detailsSection04{
    background-color: color(srgb 0.203529 0.523529 0.457843);
    font-weight: 500;    
  }
}
